body{
  margin: 0;
  text-align: center;
}

.bottom-cloud{
  width: 20%;
  height: 20%;
  position: absolute;
  left: 10%;
}

.company-img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}

.company-info{
  margin-top: 0;
}

.experience-container{
  padding-top: 100px;
  position: relative;
  background-color: #EEEEEE;
}

.experience-heading{
  color: #00ADB5;
}

.experience-info{
  color: #393E46;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 60%;
  margin: auto;
  text-align: left;
}

.experience-text{
  text-align: justify;
}

.intro-container{
  padding-top: 200px;
  position: relative;
  background-color: #222831;
}

.intro-h1{
  margin: auto;
  padding-top: 100px;
  color: #EEEEEE;
  position: relative;
  top: 25%;
}

.intro-p{
  margin: 0;
  padding: 20px;
  color: #EEEEEE;
}

.location{
  margin-bottom: 0;
}

.mountain{
  width: 70%;
}

.projects-container{
  padding-top: 100px;
  position: relative;
  background-color: #393E46;
}

.projects-heading{
  color: #00ADB5;
}

.tenure{
  margin-bottom: 20px;
}

.top-cloud{
  width: 20%;
  height: 20%;
  position: absolute;
  right: 20%;
  top: 100px;
}
